@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    margin: 0;
}

.btn__con{
  padding: 4rem 0;
  background: #212121;
  text-align: center;
  border-bottom: 2px solid #eee;
}

.hover_me{
    margin: 20px;
    display: inline-block;
    text-decoration: none;
     padding: 1rem 3rem;
     color:#eee;
     position: relative;
     font-family: 'Roboto', sans-serif;
     border-radius: 30px;
     z-index: 2;
     overflow: hidden;
}

.hover_me::before,.hover_me::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    background: #33d9b2;
    width: 30%;
    height: 100%;
    border-radius: 50%;
     transition: all .3s ease-in;
     z-index: -1;
}

.hover_me::after{
    background: #ff5252;
    border: none;
    width: 0;
    transition: all .3s .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hover_me:hover::before,.hover_me:hover:after{
    width: 100%;
    border-radius: 30px;

}


.hover_me1{
    margin: 20px;
    display: inline-block;
    text-decoration: none;
     padding: 1rem 3rem;
     color:#eee;
     position: relative;
     font-family: 'Roboto', sans-serif;
     border-radius: 30px;
     z-index: 2;
     border: 2px solid #ff5f5f;
     overflow: hidden;
     box-shadow: 0 2px 2px black;
}

.hover_me1::before,.hover_me1::after{
    content: '';
    position: absolute;
    top:0;
    height: 100%;
    width: 10%;
    transition: all .4s  cubic-bezier(0.895, 0.03, 0.685, 0.22);
    z-index: -1;
}

.hover_me1::before{
    background: #ff5252;
    left: 0;
}

.hover_me1::after{
    right: 0;
    background: #ff5252;
}

.hover_me1:hover::before,.hover_me1:hover:after{
    width: 100%;

}


.hover_me2{
     margin: 20px;
     display: inline-block;
     text-decoration: none;
     padding: 1rem 3rem;
     color:#eee;
     position: relative;
     font-family: 'Roboto', sans-serif;
     border-radius: 30px;
     z-index: 2;
     border: 2px solid rgb(255, 13, 162);
      overflow: hidden;
     box-shadow: 0 2px 2px black;
}


.hover_me2::before{
    content: '';
    position: absolute;
    top:0%;
    left:0%;
    /* transform: translate(-50%,-50%); */
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background: rgb(255, 13, 162);;
    transition: all .4s  ease-in-out;
    z-index: -1;
    transform: scale(0);
}

.hover_me2:hover::before{
    transform: scale(1.2);
}

.hover_me3{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3rem;
    color:orange;
    position: relative;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    border: 2px solid orange;
    clip-path: polygon(20% 1%, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 20%);
    transition: all .2s;
    transform: skew(20deg);
    backface-visibility: hidden;
}


.hover_me3:hover{
   transform: skew(0) scale(1.1);
}


.hover_me4{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3rem;
    color:#dddd;
    position: relative;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    border: 1px solid #dddd;
    transition: all .2s;
}



.hover_me5 {
    display: inline-block;
    padding: 1.6rem 3rem;;
    background: linear-gradient(to right, #000428, #004e92);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 10px 10px #000;
    cursor: pointer;
    transform: rotateX(70deg) rotateZ(-10deg);
    transform-style: preserve-3d;
    transition: all .5s;
    
}

.hover_me5:hover {
    transform: rotateX(30deg) rotateZ(0deg);
   
}

.hover_me5::before {
    content: '';
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, #000428, #004e92);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.hover_me5::after {
    content: '';
    width: 15px;
    height: 100%;
    background-color: #000428;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(90deg);
    transform-origin: left;
}



.hover_me4{
    display: inline-block;
    text-decoration: none;
    padding: 1rem 3rem;
    color:#eee;
    position: relative;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    background: linear-gradient(to right, #fc354c, #0abfbc);
    clip-path: polygon(0% 15%, 15% 25%, 15% 0%, 85% 0%, 72% 15%, 100% 15%, 100% 85%, 85% 74%, 85% 100%, 15% 100%, 31% 86%, 0% 85%);
    overflow: hidden;
}

.hover_me4::after {
    content: 'Complete ✔';
    padding: 16px 0;
    width: 100%;
    background: linear-gradient(to right, #e52d27, #b31217);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .5s;
    transition-delay: 1s;
}

.hover_me4::before {
    content: ' Start ↓';
    padding: 16px 0;
    width: 100%;
    background: linear-gradient(to right, #d31027, #ea384d);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all .5s;
}




.hover_me4:focus::after,.hover_me4:focus::before{
    transform: translateY(0);
}
